[submodule "tmux/tpm"]
    path = tmux/tpm
    url = https://github.com/tmux-plugins/tpm
    branch = master
[submodule "vim/vundle"]
    path = vim/vundle
    url = https://github.com/VundleVim/Vundle.vim
    branch = master
