[submodule "tmux/tpm"]
    path = tmux/tpm
    url = https://github.com/tmux-plugins/tpm
    branch = master
[submodule "vim/badwolf"]
    path = vim/badwolf
    url = https://github.com/sjl/badwolf.git
    branch = master
