prereq vim
prereq curl
prereq yank

backup {{home_dir}}/.vim
backup {{xdg_config_home}}/vim/vimrc
backup {{xdg_data_home}}/vim/bundle/Vundle.vim

submodule {{config_dir}}/vundle

directory {{xdg_config_home}}/vim
directory {{xdg_data_home}}/vim/bundle
directory {{xdg_data_home}}/vim/backup
directory {{xdg_data_home}}/vim/swap
directory {{xdg_data_home}}/vim/undo
directory {{xdg_data_home}}/vim/view

link {{xdg_data_home}}/vim {{home_dir}}/.vim
link {{config_dir}}/vimrc {{xdg_config_home}}/vim/vimrc
link {{config_dir}}/vundle {{xdg_data_home}}/vim/bundle/Vundle.vim

postcmd vim +PluginInstall +qall
