prereq vim
prereq python3
prereq curl

minver python3 --version 3.6.0 type2

backup {{xdg_config_home}}/vim/vimrc
backup {{xdg_data_home}}/vim/bundle/Vundle.vim

submodule {{config_dir}}/vundle

directory {{xdg_config_home}}/vim
directory {{xdg_data_home}}/vim/bundle
directory {{xdg_data_home}}/vim/backup
directory {{xdg_data_home}}/vim/swap
directory {{xdg_data_home}}/vim/undo
directory {{xdg_data_home}}/vim/view

link {{config_dir}}/vimrc {{xdg_config_home}}/vim/vimrc
link {{config_dir}}/vundle/ {{xdg_config_home}}/vim/bundle/Vundle.vim

postcmd vim +PluginInstall +qall
