# tmux
prereq iostat
prereq sar

backup {{home_dir}}/.tmux.conf
backup {{home_dir}}/.tmux
backup {{xdg_config_home}}/tmux/tmux.conf
backup {{xdg_data_home}}/tmux/plugins/tpm

submodule {{config_dir}}/tpm

directory {{xdg_config_home}}/tmux
directory {{xdg_data_home}}/tmux/plugins

link {{xdg_config_home}}/tmux/tmux.conf {{home_dir}}/.tmux.conf
link {{xdg_data_home}}/tmux/ {{home_dir}}/.tmux
link {{config_dir}}/tmux.conf {{xdg_config_home}}/tmux/tmux.conf
link {{config_dir}}/tpm {{xdg_data_home}}/tmux/plugins/tpm



# yank
backup {{home_dir}}/.local/bin/yank

submodule {{config_dir}}/yank

directory {{home_dir}}/.local/bin

link {{config_dir}}/yank/bin/yank {{home_dir}}/.local/bin/yank
