prereq xclip
prereq iostat
prereq sar

backup {{home_dir}}/.local/bin/yank
backup {{xdg_config_home}}/tmux/tmux.conf
backup {{xdg_data_home}}/tmux/plugins/tpm

submodule {{config_dir}}/tpm
submodule {{config_dir}}/yank

directory {{home_dir}}/.local/bin
directory {{xdg_config_home}}/tmux
directory {{xdg_data_home}}/tmux/plugins

link {{config_dir}}/tmux.conf {{xdg_config_home}}/tmux/tmux.conf
link {{config_dir}}/tpm {{xdg_data_home}}/tmux/plugins/tpm
link {{config_dir}}/yank/bin/yank {{home_dir}}/.local/bin/yank
