backup {{home_dir}}/.local/bin/kubectx
backup {{home_dir}}/.local/bin/kubens
backup {{xdg_data_home}}/bash-completion/completions/kubectx
backup {{xdg_data_home}}/bash-completion/completions/kubens
backup {{xdg_data_home}}/bash-completion/completions/tmux
backup {{xdg_data_home}}/bash-completion/completions/packer
backup {{xdg_data_home}}/bash-completion/completions/terraform

submodule {{config_dir}}/kubectx
submodule {{config_dir}}/tmux-bash-completion

directory {{home_dir}}/.local/bin
directory {{xdg_data_home}}/bash-completion/completions

link {{config_dir}}/kubectx/kubectx {{home_dir}}/.local/bin/kubectx
link {{config_dir}}/kubectx/kubens {{home_dir}}/.local/bin/kubens
link {{config_dir}}/kubectx/completions/kubectx.bash {{xdg_data_home}}/bash-completion/completions/kubectx
link {{config_dir}}/kubectx/completions/kubens.bash {{xdg_data_home}}/bash-completion/completions/kubens
link {{config_dir}}/tmux-bash-completion/completions/tmux {{xdg_data_home}}/bash-completion/completions/tmux
link {{config_dir}}/completions/packer {{xdg_data_home}}/bash-completion/completions/packer
link {{config_dir}}/completions/terraform {{xdg_data_home}}/bash-completion/completions/terraform
