# .inputrc



# -------------------- #
# Load Global Settings #
# -------------------- #

$include /etc/inputrc



# -------------------- #
# OS-specific Settings #
# -------------------- #

# Nothing here yet



# -------- #
# Settings #
# -------- #

"\C-h": backward-kill-word
"\e[3;5~": kill-word



# ------------------------- #
# Load Local Input Settings #
# ------------------------- #

$include ~/.inputrc_local

