#bash
backup {{home_dir}}/.bashrc
backup {{home_dir}}/.bash_login
backup {{home_dir}}/.bash_logout
backup {{home_dir}}/.bash_profile
backup {{home_dir}}/.profile
backup {{xdg_config_home}}/bash/aliases
backup {{xdg_config_home}}/bash/bashrc
backup {{xdg_config_home}}/bash/bash_login
backup {{xdg_config_home}}/bash/bash_logout
backup {{xdg_config_home}}/bash/bash_profile
backup {{xdg_config_home}}/bash/profile
backup {{xdg_config_home}}/bash/terminal-control

directory {{xdg_config_home}}/bash
directory {{xdg_data_home}}/bash

download https://raw.githubusercontent.com/coreutils/coreutils/master/src/dircolors.hin {{xdg_config_home}}/bash/dircolors

link {{xdg_config_home}}/bash/bashrc {{home_dir}}/.bashrc
link {{xdg_config_home}}/bash/bash_login {{home_dir}}/.bash_login
link {{xdg_config_home}}/bash/bash_logout {{home_dir}}/.bash_logout
link {{xdg_config_home}}/bash/bash_profile {{home_dir}}/.bash_profile
link {{xdg_config_home}}/bash/profile {{home_dir}}/.profile
link {{config_dir}}/aliases {{xdg_config_home}}/bash/aliases
link {{config_dir}}/bashrc {{xdg_config_home}}/bash/bashrc
link {{config_dir}}/bash_login {{xdg_config_home}}/bash/bash_login
link {{config_dir}}/bash_logout {{xdg_config_home}}/bash/bash_logout
link {{config_dir}}/bash_profile {{xdg_config_home}}/bash/bash_profile
link {{config_dir}}/profile {{xdg_config_home}}/bash/profile
link {{config_dir}}/terminal-control {{xdg_config_home}}/bash/terminal-control



#readline
directory {{xdg_config_home}}/readline

backup {{xdg_config_home}}/readline/inputrc

link {{config_dir}}/inputrc {{xdg_config_home}}/readline/inputrc



#bash_completion
directory {{xdg_config_home}}/bash-completion

backup {{xdg_config_home}}/bash-completion/bash_completion

link {{config_dir}}/bash_completion {{xdg_config_home}}/bash-completion/bash_completion
